/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors Used
Background Color - #262626 (Dark Gray)
Secondary Background Color - #c2bcbc (Light Gray)
Primary Color - #ff941a (Orange)
Secondary Color - #89c2e6 (Light Blue)
Tertiary Color - #7af57c (Light Green)
Hover/Focus Color - #c2b8f4 (Lavender Blue)
Visited Color - #f0a3ff (Light Purple)
Active Color - #ff8f8f (Light Red)
*/

* {
    /* Wildcard style changes */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* Base body style changes */
    font-family: 'Poppins', sans-serif;
    color: #89c2e6;
    background-color: #262626;
    scroll-behavior: smooth;

    /* Scrollbar thumb [Scrollbar] and track [Scrollbar Scrollable Area] style changes for Mozilla browsers (Firefox) */
    scrollbar-color: #7af57c #262626;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    /* Base Scrollbar style changes for WebKit browsers (Chrome, Safari, Edge) */
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* Scrollbar thumb [Scrollbar] style changes for WebKit browsers (Chrome, Safari, Edge) */
    background-color: #7af57c;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    /* Scrollbar track [Scrollbar Scrollable Area] style changes for WebKit browsers (Chrome, Safari, Edge) */
    background-color: #262626;
}

.navigation-list {
    /* Base navigation list style changes" */
    color: #7af57c;
    list-style-type: none;
}

.navigation-list li {
    /* Base navigation list item style changes" */
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item:visited {
    /* Navigation hyperlink style when on current webpage" */
    color: #89c2e6;
    text-decoration: none;
}

.navigation-list__item:hover {
    /* Navigation hyperlink style when on current webpage while hovering" */
    color: #89c2e6;
    border-bottom: 1px solid #7af57c;
    text-decoration: none;
    outline: none;
}

.navigation-list__item--visited:visited {
    /* Navigation hyperlink style after visiting previous webpage */
    color: #ff941a;
    text-decoration: none;
}

.navigation-list__item--visited:hover {
    /* Navigation hyperlink style after visiting previous webpage while hovering */
    color: #ff941a;
    border-bottom: 1px solid #7af57c;
    text-decoration: none;
    outline: none;
}

.page-header {
    /* Base header style changes (Site navigation and logo) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    /* Base header item style changes (Site navigation and logo) */
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header__item:last-child {
    /* Last header item style changes (Site navigation and logo) */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.page-footer {
    /* Base footer style changes */
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

h1 {
    /* Base heading 1 style changes */
    color: #ff941a;
}

h2 {
    /* Base heading 2 style changes */
    color: #7af57c;
}

p {
    /* Base paragraph style changes */
    color: #89c2e6;
}

span {
    /* Base span style changes */
    color: #ff941a;
}

th {
    /* Table header style changes */
    color: #7af57c;
}

a {
    /* Base link style changes */
    color: #ff941a;
    text-decoration: none;
}

a:hover {
    /* Will show a underline when hovering over link */
    color: #c2b8f4;
    text-decoration: underline;
}

a:visited {
    /* Will change colors if link has been visited */
    color: #f0a3ff;
}

a:active {
    /* Will change colors if link is selected */
    color: #ff8f8f;
}

a:focus {
    /* Will create an outline around link when in "focus" */
    outline: 2px solid #c2b8f4;
}

button {
    /* Base button style changes */
    font-size: 16px;
    color: white;
    background-color: #ff941a;
    padding: 10px;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
}

button:hover {
    /* Will change colors when hovering over button */
    background-color: #c2b8f4;
}

button:active {
    /* Will change colors if button is selected */
    background-color: #ff8f8f;
}

button:focus {
    /* Will lower the opacity of the button when in "focus" */
    outline: none;
    opacity: 0.8;
}

input {
    /* Form input field style changes */
    background-color: #c2bcbc;
}

textarea {
    /* Form input field style changes */
    background-color: #c2bcbc;
}

.button-download__resume {
    /* Resume download button style changes (About page) */
    font-size: 16px;
    color: white;
    background-color: #ff941a;
    padding: 10px;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button-download__resume:hover,
.button-download__resume:visited,
.button-download__resume:active,
.button-download__resume:focus {
    /* Resume download button pseudo-class style changes */
    cursor: pointer;
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

.standard__label {
    /* Standard label style changes (Contact page) */
    margin-left: 10px;
    color: #89c2e6;
}

.contact__info-span {
    /* "email-info" and "tel-info" span style changes (Contact page) */
    margin-left: 10px;
    color: #ff941a;
}

.submit-message__button {
    /* "Send Message" button changes (Contact page) */
    font-size: 16px;
    color: #262626;
    background-color: #7af57c;
    padding: 5px;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid black;
    margin: 2px;
    margin-left: 10px;
    margin-top: 4px;
    outline: none;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.submit-message__button:hover {
    /* Will outline the "Send Message" button while hovering */
    cursor: pointer;
    opacity: 0.8;
}

.submit-message__button:focus {
    /* Will lower the opacity of the "Send Message" button when in "focus" */
    outline: 2px solid #c2b8f4;
}

.portfolio-logo {
    /* Base portfolio logo scaling */
    height: 70px;
    width: 200px;
}

.profile {
    /* Homepage profile (Heading, Project Hyperlink, Profile Portrait) style changes */
    max-width: 700px;
    margin: 0 auto;
}

.profile__heading {
    /* Homepage heading style changes */
    margin-bottom: -8px;
}

.profile__portrait {
    /* Homepage portrait style changes */
    float: left;
    width: 250px;
    margin-right: 20px;
    border-radius: 50%;
}

.about__heading {
    /* About page heading style changes */
    margin: 0 auto;
    text-align: center;
}

.about__paragraph {
    /* About page paragraph style changes */
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 900px;
    text-align: center;
}

.about__table {
    /* About page table (Skills, Years of Experience, Levels of Expertise) style changes */
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.resume-button__container {
    /* Resume button container style changes (About page) */
    margin-top: 28px;
    text-align: center;
}

.contact__heading {
    /* Contact heading style changes (Contact page) */
    margin-top: -16px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.email-info {
    /* Contact info style changes (Developer Receiving Emails) */
    color: #89c2e6;
    margin-left: 4px;
    margin-bottom: 4px;
    position: relative;
    z-index: 2;
}

.tel-info {
    /* Contact info style changes (Developer Receiving Phone Numbers) */
    color: #89c2e6;
    margin-left: 4px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

#contact-email {
    /* Contact email form input style changes (User Providing Emails) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 400px;
    margin-left: 10px;
}

#contact-email:focus {
    /* Will create an outline around contact email form input when in "focus" */
    outline: 1px solid #c2b8f4;
}

#contact-tel {
    /* Contact telephone form input style changes (User Providing Phone Numbers) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 400px;
    margin-left: 10px;
}

#contact-tel:focus {
    /* Will create an outline around contact telephone form input when in "focus" */
    outline: 1px solid #c2b8f4;
}

#contact-message {
    /* Contact message form input style changes (User Providing Messages) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 200px;
    width: 800px;
    margin-left: 10px;
    resize: none;
}

#contact-message:focus {
    /* Will create an outline around contact message form input when in "focus" */
    outline: 1px solid #c2b8f4;
}

.contact__footer {
    /* "Contact Me!" footer style changes (Contact page) */
    margin-top: 80px;
}

.contact__container {
    /* Contact form and Availability Schedule container for general positioning (Contact page) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.availability__table-container {
    /* Availability Schedule container for positioning (Contact page) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.availability__table-header {
    /* Availability Schedule header cell style changes (Contact page) */
    vertical-align: middle;
    padding-bottom: 2px;
}

.availability__table {
    /* Availability Schedule time and day style and positioning changes (Contact page) */
    margin-right: 100px;
    margin-top: 140px;
}

.day-cell {
    /* Availability Schedule day cell style changes (Contact page) */
    color: #ff941a;
    padding-left: 10px;
    padding-right: 10px;
}

.time-cell {
    /* Availability Schedule time cell style changes (Contact page) */
    color: #89c2e6;
    white-space: nowrap;
}

.footer--adjustment--contact {
    /* Footer adjustment changes (Contact page) */
    margin-top: -40px;
}

.work-heading {
    margin-left: 20px;
}

.grid__item {
    /* Grid fallback method (Alternative Layout) */
    display: inline-block;
    width: 33%;
}

.grid {
    /* Base grid layout (Work Page) */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}

.grid__item {
    /* Base grid item layout (Work Page) */
    font-size: 14px;
    outline: 2px solid #c2bcbc;
    padding: 10px;
    width: auto;
    min-height: auto;
    margin: 0;
}

.grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
}

.bridge-section {
    /* Changes to San Francisco Bridge SVG Section (About Page) */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}

.animated-svg {
    /* Changes to San Francisco Bridge SVG (About Page) */
    border: solid 1px #c2bcbc;
}

@media all and (max-width: 500px) {
    /* Small device media query */
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 14px;
    }

    .navigation-list__item:hover {
        border-bottom: none;
    }

    .navigation-list__item--visited:hover {
        border-bottom: none;
    }

    .profile__portrait {
        width: 180px;
        margin-right: 5px;
    }

    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .about__heading {
        font-size: 22px;
        max-width: 200px;
    }

    .about__paragraph {
        max-width: 300px;
    }

    .animated-svg {
        height: 300px;
        width: 300px;
    }

    .contact__heading {
        margin-left: 50px;
    }

    .standard__label {
        margin-left: 20px;
    }

    .email-info,
    .tel-info {
        font-size: 14px;
    }

    #contact-form {
        margin-top: 200px;
    }

    #contact-email,
    #contact-tel {
        width: 300px;
        margin-left: 20px;
    }

    #contact-message {
        width: 300px;
        margin-left: 20px;
    }

    .submit-message__button {
        margin-left: 20px;
    }

    .availability__table-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: -300px;
        margin-bottom: 430px;
    }

    .availability__table-header {
        padding-left: -40px;
        padding-bottom: 4px;
    }

    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    /* Medium device media query */
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .about__heading {
        font-size: 32px;
    }

    .about__paragraph {
        max-width: 550px;
    }

    .animated-svg {
        height: 450px;
        width: 450px;
    }

    .contact__heading {
        margin-bottom: 4px;
    }

    .email-info,
    .tel-info {
        font-size: 15px;
    }

    #contact-form {
        margin-top: 220px;
    }

    #contact-email,
    #contact-tel {
        width: 300px;
    }

    #contact-message {
        width: 600px;
    }

    .availability__table-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: -300px;
        margin-bottom: 250px;
    }

    .availability__table-header {
        padding-left: -40px;
        padding-bottom: 4px;
    }
}

@media all and (min-width: 750px) and (max-width: 1080px) {
    /* Large device media query */
    #contact-message {
        width: 400px;
    }

    .availability__table-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 100px;
        margin-bottom: 2px;
    }

    .availability__table-header {
        padding-left: 10px;
    }

    .day-cell {
        padding-bottom: 8px;
    }

    .time-cell {
        padding-bottom: 8px;
    }
}

@media all and (min-width: 1080px) and (max-width: 1440px) {
    /* Larger device media query */
    #contact-message {
        width: 600px;
    }

    .availability__table-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 100px;
        margin-bottom: 2px;
    }

    .availability__table-header {
        padding-left: 10px;
    }

    .day-cell {
        padding-bottom: 8px;
    }

    .time-cell {
        padding-bottom: 8px;
    }
}

@media all and (min-width: 1440px) and (max-width: 2160px) {
    /* Largest device media query */
    .availability__table-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 100px;
        margin-bottom: 2px;
    }

    .availability__table-header {
        padding-left: 10px;
    }

    .day-cell {
        padding-bottom: 8px;
    }

    .time-cell {
        padding-bottom: 8px;
    }
}
